body {
font-family: "Tajawal", sans-serif;
background: #f1f5f9;
margin: 0;
padding: 40px;
}


.card {
width: 350px;
margin: auto;
background: white;
padding: 25px;
border-radius: 12px;
box-shadow: 0 4px 12px #0001;
text-align: center;
}


input, select, button {
width: 100%;
margin-top: 10px;
padding: 12px;
border: 1px solid #ddd;
border-radius: 8px;
}


button {
background: #2563eb;
color: white;
border: none;
cursor: pointer;
}